body{
	background-image: url(imagens/paisagem.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

div {
  background-color: #a1d8ff;
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 60px;
  margin: 10px;
}

.fundo1{
	background-color: #fffafa;
	border-radius: 5px;
	margin: auto;
	opacity: 0.8;
}

.fundo2{
	background-color: #fffafa;
	position: 
	top: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7%;
	border-radius: 16px;
	opacity: 0.8;
}

.fundo3{
	background-color: #fffafa;
	width: 300px;
	border: 1px solid black;
	padding: 20px;
	border-radius: 40px;
	margin: 10px;
	opacity: 0.8;
	position: 
	top: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
}

.grade{
	background-color: #fffafa;
	border-radius: 5px;
	margin-left: auto;
	margin-right: autos;
	margin-top: 20px;
	opacity: 0.9;
}

